body {
    font: 12 Tahoma;
    margin: 0ex;
    text-align: center;
    background: #FFF;
}

a:link, a:visited {
font-size: 12;
text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #111;
}

#container{
    width: 900px;
    height: 600px;
    margin: 10px auto;
}
#header{
    background: rgb(36, 131, 57);
}
#menu {
    padding: 20px 20px 0 0
}
#menu ul {
    float: right;
    list-style: none;
    margin: 0%;
}
#menu ul li {
    float: left;
    display: block;
    line-height: 30px;
    margin: 0 10px;
}
#menu ul li a:link, #menu ul li a:visited {
    font-weight: bold;
    color: #666;
}
#menu ul li a:hover{}

.menuDiv{
    width: 1px;
    height: 28px;
    background: #999;
}
#banner{
    margin: 0 auto;
    background: url(2.jpg) 0 -520px;
    width: 897px;
    height: 345px;
    border-bottom: 5px solid #EFEFEF;
    clear: both
}

#pagebody {
    width: 897px;
    margin: 8px auto;
    background: #FFFFFF
}
#sidebar{
    width: 450px;
    text-align: left;
    float: left;
    clear:left;
    overflow: hidden;
    border: 1px solid #FFFFFF
}
#mainbody{
    width: 400px;
    text-align: left;
    float:right;
    clear: right;
    overflow: hidden;
    border: 1px solid #FFFFFF
}
.news{
    line-height: 22px;
    color: #666666;
}
#footer{
    width: 900px;
    margin: 8px auto;
    height: 50px;
    background: #0E3717;
    color: #FFFFFF;
    line-height: 50px;
}

